body {
    background: #333;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    padding: 50px;
    width: 100%;
    height: 20%;
    background-image: url(img/bg.jpg);
    text-align: center;
    font-size: 50px;
    color: #AC51B5;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 80%;
}

#q_frame,
#a_frame,
#a_frame_desc {
    background: #fff;
    border-radius: 20px;
    width: 60%;
    height: 100%;
    margin: 20px;
    padding: 50px;
    box-shadow:  2px 2px 8px rgba(9, 0, 0, 0.416);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#score,
#slider {
  opacity: 0;
  transition: 500ms ease-in-out;
}

#question {
  font-size: 22px;
  text-align: center;
}

#score {
    font-size: 40px;
    color: black;
    width: 50px;

}

.attributes {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-between;
}

#attribute_0,
#attribute_1 {
    color: black;
    width: 150px;
    height: 30px;
    font-size: 16px;
}

#attribute_1 {
    text-align: right;
}

#button {
  height: 50px;
  width: 100%;
  background-color: #632196;
  border: 0;
  border-radius: 14px;
  color: white;
  font-size: 18px;
  transition: 200ms ease-in-out;
  box-shadow:  2px 2px 8px rgba(9, 0, 0, 0.29);
}

#button:hover {
  background-color: #AC51B5;
}

#button:active {
  opacity: 0.5;
}

#a_frame,
#a_frame_desc {
  opacity: 0;
  flex-flow: row;
  gap: 60px;
  width: 60%;
  transition: 500ms ease-in-out;
}

#a_frame_desc {
  width: 70%;
}

#final_char_0,
#final_char_1,
#final_char_2 {
  opacity: 0;
  width: 100px;
  height: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  transition: 250ms ease-in-out;
  transform: scale(1.3);
  box-shadow: 2px 2px 8px rgba(9, 0, 0, 0.416);
}
#final_char_0:hover,
#final_char_1:hover,
#final_char_2:hover {
  transform: scale(1.5);
}

#final_char_name_0,
#final_char_name_1,
#final_char_name_2 {
  color: white;
  font-size: 18px;
  background-color: #632196;
  width: 100px;
  height: 48px;
  box-shadow:  2px 2px 8px rgba(9, 0, 0, 0.29);
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
}

#final_char_desc_0,
#final_char_desc_1,
#final_char_desc_2 {
  opacity: 0;
  background: #333;
  border-radius: 10px;
  width: 80%;
  height: fit-content;
  color: white;
  font-size: 18px;
  text-align: justify;
  padding: 12px;
  padding-top: 12px;
  box-shadow:  4px 4px 16px rgba(9, 0, 0, 0.451);

}

#final_char_desc_container {
  margin-top: -20px;
  display: flex;
  flex-flow: row;
  gap: 4px;
  align-items:flex-start;
  justify-content: center;
  background-color: #fff;
}
/* Thanks to cssportal.com for this handy input range styling */
 
input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #AC51B5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 7px #000000;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  background: #632196;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #AC51B5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #AC51B5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 7px #000000;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  background: #632196;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #AC51B5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #AC51B5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 7px #000000;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 35px;
  background: #632196;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #AC51B5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #AC51B5;
}
